@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">MyWheels</h1>
    <div class="grid-container mt-5"
         style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 20px; margin: 0 auto;">
        <a href="/Comprar/VereficarCadastro" class="btn btn-primary rounded-5"
           style="width: 100%; height: 250px; display: flex; align-items: center; justify-content: center; font-size: 24px; font-weight: bold;">Comprar</a>
        <a href="/Alugar/VerificarCadastro" class="btn btn-primary rounded-5"
           style="width: 100%; height: 250px; display: flex; align-items: center; justify-content: center; font-size: 24px; font-weight: bold;">Alugar</a>
        <a href="/Comprar/Index" class="btn btn-primary rounded-5"
           style="width: 100%; height: 250px; display: flex; align-items: center; justify-content: center; font-size: 24px; font-weight: bold;">Lista
            de Compras</a>
        <a href="/Alugar/Index" class="btn btn-primary rounded-5"
           style="width: 100%; height: 250px; display: flex; align-items: center; justify-content: center; font-size: 24px; font-weight: bold;">Lista
            de Aluguéis</a>
        <a href="/Consultar" class="btn btn-primary rounded-5"
           style="width: 100%; height: 250px; display: flex; align-items: center; justify-content: center; font-size: 24px; font-weight: bold;">Consultar</a>
        <a href="/Relatorio" class="btn btn-primary rounded-5"
           style="width: 100%; height: 250px; display: flex; align-items: center; justify-content: center; font-size: 24px; font-weight: bold;">Gerar
            Relatório</a>
    </div>
</div>
