@page
@model MyWheelsSql.Pages.Bicicletas.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Bicicleta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Bicicleta.Nome" class="control-label"></label>
                <input asp-for="Bicicleta.Nome" class="form-control" />
                <span asp-validation-for="Bicicleta.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bicicleta.Preco" class="control-label"></label>
                <input asp-for="Bicicleta.Preco" class="form-control" />
                <span asp-validation-for="Bicicleta.Preco" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Bicicleta.Tipo" class="control-label"></label>
                <input asp-for="Bicicleta.Tipo" class="form-control" />
                <span asp-validation-for="Bicicleta.Tipo" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Bicicleta.Tamanho" class="control-label"></label>
                <input asp-for="Bicicleta.Tamanho" class="form-control" />
                <span asp-validation-for="Bicicleta.Tamanho" class="text-danger"></span>
            </div>
            
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Bicicleta.Disponivel" /> @Html.DisplayNameFor(model => model.Bicicleta.Disponivel)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Bicicleta.CompraId" class="control-label"></label>
                <select asp-for="Bicicleta.CompraId" class="form-control" asp-items="ViewBag.CompraId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Bicicleta.AluguelId" class="control-label"></label>
                <select asp-for="Bicicleta.AluguelId" class="form-control" asp-items="ViewBag.AluguelId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
